<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css">
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
</head>
<body>
<!--顶部导航栏-->
<div th:insert="navigation :: nav"></div>

<div class="container-fluid main profile">
    <!--左右布局 左9右3-->
    <div class="row">
        <!--左侧主题栏-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--问题正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4><span class="question-title" th:text="${question.title}"></span></h4>
                <span class="text-desc">
                作者：<span th:text="${question.user.name}"></span> |
                发布时间：<span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span> |
                阅读数：<span th:text="${question.viewCount}"></span>
                </span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--Markdown-View-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-markdown-view">
                    <textarea style="display:none;" th:text="${question.description}"></textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        editormd.markdownToHTML("question-markdown-view", {
                        });
                    });
                </script>

                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="label label-info question-tag" th:each="tag : ${question.tag.split(',')}">
                    <span class="glyphicon glyphicon-tags"></span>
                    <span th:text="${tag}"></span>
                </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a th:href="@{'/publish/'+${question.id}}" class="community-menu"
                       th:if="${session.user != null && session.user.id == question.creator}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 编辑
                    </a>
                </div>
            </div>

            <!--回复展示列表-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    <span th:text="${question.commentCount}"></span> 个回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="comment : ${comments}">
                    <div class="media" }>
                        <!--头像-->
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded" th:src="${comment.user.avatarUrl}">
                            </a>
                        </div>
                        <!--回复信息详情-->
                        <div class="media-body" th:id="${'comment-body-'+ comment.id}">
                            <!--回复人名字-->
                            <h6 class="media-heading">
                                <span th:text="${comment.user.name}"></span>
                            </h6>
                            <!--回复内容-->
                            <div th:text="${comment.content}"></div>
                            <!--回复底栏目 👍 回复此评论 回复时间-->
                            <div class="menu">
                                <span class="glyphicon glyphicon-thumbs-up icon"></span>
                                <span th:data-id="${comment.id}" onclick="collapseComments(this)">
                                    <span class="glyphicon glyphicon-comment icon"></span>
                                    <span th:text="${comment.commentCount}"></span>
                                </span>

                                <span class="pull-right"
                                      th:text="${#dates.format(comment.gmtCreate, 'yyyy-MM-dd hh:mm:ss')}"></span>
                            </div>
                            <!--二级评论-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments"
                                 th:id="${'comment-'+comment.id}">

                                <!-- 二级评论回复输入框-->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" placeholder="评论一下......"
                                           th:id="${'input-'+comment.id}">
                                    <button type="button" class="btn btn-success btn-comment" th:data-id="${comment.id}"
                                            onclick="comment(this)">评论
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--回复输入框-->
                <h4>提交回复</h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                    <div class="media" }>
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded" th:src="${session.user != null ? session.user.avatarUrl : '/images/default-avatar.png'}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${session.user != null ? session.user.name : '未登录用户'}"></span>
                            </h5>
                        </div>
                    </div>

                    <input type="hidden" id="question_id" th:value="${question.id}">
                    <textarea class="form-control comment" rows="6" id="comment_content"
                              placeholder="回复一下......"></textarea>
                    <button type="button" class="btn btn-success btn-comment" onclick="post()">回复</button>
                </div>
            </div>
        </div>

        <!--右侧信息栏-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media" }>
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${question.user.name}"></span>
                        </h5>
                        </span>
                    </div>
                </div>
            </div>

            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
                <ul class="question-related">
                    <li th:each="related : ${relatedQuestions}">
                        <a th:href="@{'/questions/'+${related.id}}" th:text="${related.title}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div th:insert="footer :: foot"></div>

</body>
</html>